.logo{
  max-width: 168px;
}

@media (max-width: 800px) {
  .logo {
    max-width: 105px;
  }
}

.menu{
  width: 100%;
  padding: 10px 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top:0;
  left:0;
  right: 0;

  background-color: var(--black);
  border-bottom: 3px solid var(--primary);
  box-shadow: 0 1px 13px 3px var(--primary);
}

@media (max-width: 800px) {
  .menu {
    justify-content: center;
  }
  body {
    --bodyPaddingTop: 40px;
    padding-top: var(--bodyPaddingTop);
  }
}

.buttonLink{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;

  border: 1px solid #fff;
  border-radius: 3px;

  padding: 7px 20px;
}
.buttonLink:hover,
.buttonLink:focus{
  opacity: .7;
  transition: opacity 200ms;
}

@media(max-width: 850px){
  a.buttonLink {
    position: fixed;
    left:0;
    right: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 0;
    border:0;
    text-align: center;
  }
}